data_ona
tmp/data
tmp/PPI_PLM
tmp/labproj_draft.yml
tmp/ona_drafts/training_utils/
tmp/ona_drafts/loading _myself.ipynb
tmp/ona_drafts/notes_for functions.ipynb
tmp/ona_drafts/notes_for functions.ipynb
tmp/ona_drafts/bandau.sh
tmp/ona_drafts/.ipynb_checkpoints/
tmp/ona_drafts/images/
tmp/ona_drafts/notes.ipynb
tmp/ona_drafts/wandb/
tmp/ona_drafts/*_checkpoint_*